#Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl

#Ansible
*.retry
.vault-password
vault_password*

#Secrets / keys
*.pem
*.key
id_rsa*
id_ed25519*
kubeconfig
*.kubeconfig

#OS / editor
.DS_Store
.idea/
.vscode/

#Backups / temp
*.bak
*.swp
*.log
